{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Stand</th>
                <th>À partir de</th>
                <th>Par</th>
                <th>Statut</th>
                <th>Demande effectuée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.calendarDate ? reservation.calendarDate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.stand.location}}</td>
                <td>{{ reservation.hourTime ? reservation.hourTime|date('H:i:s') : '' }}</td>
                <td>{{ reservation.user.name}}</td>
                <td>{{ reservation.getFormattedStatut() }}</td>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Montrer</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de réservations</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Réserver</a>
{% endblock %}
