{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block body %}
    <h1>Schedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calendar_date</th>
                <th>Start_time</th>
                <th>End_time</th>
                <th>Statut_schedule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.calendarDate ? schedule.calendarDate|date('Y-m-d') : '' }}</td>
                <td>{{ schedule.startTime ? schedule.startTime|date('H:i:s') : '' }}</td>
                <td>{{ schedule.endTime ? schedule.endTime|date('H:i:s') : '' }}</td>
                <td>{{ schedule.statutSchedule }}</td>
                <td>
                    <a href="{{ path('app_schedule_show', {'id': schedule.id}) }}">show</a>
                    <a href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_schedule_new') }}">Create new</a>
{% endblock %}
