{% extends 'base.html.twig' %}

{% block title %}Liste des Stands{% endblock %}

{% block body %}
    <h1>Liste des Stands</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du Stand</th>
                <th>Lieu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stand in stands %}
            <tr>
                <td>{{ stand.id }}</td>
                <td>{{ stand.standName }}</td>
                <td>{{ stand.location }}</td>
                <td>
                    <a href="{{ path('app_stand_show', {'id': stand.id}) }}">Montrer</a>
                    <a href="{{ path('app_stand_edit', {'id': stand.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de stand</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stand_new') }}">Créer un stand</a>
{% endblock %}
